

body {
    display: flex;
 
   
    margin: 0;
    padding: 0;
  }
main {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    flex-grow: 1;
  }
  table{
    width: 70vw;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  }
  .table-container {
    max-height: 300px; 
    overflow: auto;
  }
  .table-container::-webkit-scrollbar {
    width: 6px; 
  }
  
  .table-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  .table-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px; 
  }
  form#addAcc {
    width: 70vw;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  #summary {
    width: 100%;
    margin-top: 20px;
    max-height: 70vh; /* Set a maximum height for the table */
    overflow: auto; 
  }
  
  #summary th,
  #summary td {
    padding: 10px;
    border: 1px solid #ccc;
    vertical-align: middle; /* Align content vertically in cells */
    text-align: center; /* Optionally, center content horizontally */
  }
  
  form#addAcc input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  
  form#addAcc button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  