main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width:30vw;
    margin-left:20vw;
}
h1{
    width:50%;
    text-align:center;
    font-size:40px
}
#start{
    font-size: 1.5rem;
    width:20vw;
    height:7vh;
    border-radius: 1rem;
    animation: bounce 1s infinite;
    display:flex;
    align-items: center;
    justify-content: center;

}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0) scale(1);
      }
      50% {
        transform: translateY(-15px) scale(1.1);
      }
    }