body {
    display: flex;
    justify-content: space-between;
   
    margin: 0;
    padding: 0;
  }
main {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    flex-grow: 1;

  }
  .table-container {
    max-height: 300px; 
    overflow: auto;
    border: 1px solid #ccc;
  }
  .transaction,.add-category{
    width: 70vw;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin:1rem;
    max-height: 300px; 
    overflow: auto;
  }
  .transaction::-webkit-scrollbar {
    width: 6px; 
  }
  
  .transaction::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  .transaction::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px; 
  }
  #selectBar {
    margin-bottom: 10px;
  }
  
  #selectBar input[type="radio"] {
    margin-right: 10px;
  }
  
  select,
  input[type="number"],
  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 0.6rem;
  }
  
  button {
    padding: 10px 20px;
    background-color: lightgreen;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    border-radius: 0.6rem;
  }
  button:hover {
    background-color: darkgreen;
    color: white;
    transform: scale(1.1);
  }
  
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  #selectBar {
    display: flex;
    align-items: center;
  }
  
  #selectBar input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  #selectBar input[type="radio"]:checked {
    background-color: #333;
    border-color: #333;
  }

  p#acc {
    margin-top: 0;
    margin-bottom: 0;
  }

  p.error-message {
    margin-top: 0;
    margin-bottom: 10px;
  }
  